<html>
    <head>

    </head>
    <body style="margin-top: 100px;">
        <section id="banner">
            <div class="container" >
                <div class="row">
                    <div class="col-md-12 col-xs-12" style="min-height: 18pc;">
                        <h1 class="display-2 text-right">Donate Now</h1>
                    </div>
                </div>
            </div>
       </section>
       <section id="banner-text">
           <div class="container">
               <div class="row">
                <div class="col-md-12 col-xs-12">
                    <br>
                    <h3 class="text-left">Help the PASS save older people life in crisis.</h3>
                    <p class="lead text text-left">The Chief Functionary and the President of the society are Mr. Vijay B Singh whose vision is to work for the help of old age home for the senior Citizen upliftment of the underprivileged mass both in rural and urban areas.</p>
                </div>
               </div>
           </div>
       </section>
       <section id="helping-bodies">
        <div class="container">
            <div class="row">
             <div class="col-md-12 col-xs-12">
                <br>
                 <ul class="list-group" style="box-shadow: 0px 0px 11px 6px #888888;">
                    <li class="list-group-item">
                        <h1 class="text-left">DONATION</h1>
                        <h5 class="text-left" style="font-style: italic; font-family: Oswald;">WE MAKE A LIVING BY WHAT WE GET. WE MAKE A LIFE BY WHAT WE GIVE.</h5>
                        <br>
                        <p class="lead text text-left" style="font-family: Oswald;">Providing care 24 hours a day for 7 days a week for 400 residents is no easy feat. The costs of running a nursing home remains high. On the average, we need about $100 per resident per day to operate the home on a daily basis.
                        <br>
                        <br>
                        Each love gift is significant to the resident’s well-being and every donation counts to providing better quality of care for better quality of life in the home.</p>
                    </li>
                    <li class="list-group-item">
                        <h3 class="text-left">FUNDRAISE</h3>    
                        <br>
                        <p class="lead text text-left" style="font-family: Oswald;">Have an exciting fundraising project idea or perhaps you simply just want to raise funds among friends and family, drop us a note and let us know! Fundraise on our online platform and let the giving begin!</p>
                        <button type="submit" style ="font-family: Oswald;" class="btn btn-primary btn-md my-2 my-sm-0 showcase-btn dbButton" data-toggle="modal" data-target=".fundRaise"> Organise a Fund Raising Campaign </button>
                    </li>
                    <li class="list-group-item">
                        <h3 class="text-left">DONATION IN KIND</h3>    
                        <br>
                        <p class="lead text text-left" style="font-family: Oswald;">We greatly appreciate donations in kind as they often also meet the needs of our home through direct purchase and delivery. Items that the home currently require are as appended below. These include the daily needs of the elderly for both meals as well as equipment.</p>
                        Financial Help
                                <br>
                                Rations (Essential needS)
                                <ul class="list-group text-muted" style="margin-left: 2pc; font-family: Oswald;">
                                    <li>Cooking items</li>
                                    <li>Basic Medical instruments, supplies, medicines</li>
                                    <li>TakeUp monthly expense of any resident</li>
                                    <li>Bearing some amount of monthly society expenses</li>
                                </ul>
                                <br>
                        <p class="text-muted text-center" style="font-family: Oswald;">Please contact the Corporate & Community Relations Team at 999097676 or passnearby@gmail.com for more information.</p>
                    </li>
                </ul>
             </div>
            </div>
        </div>
    </section>
       <section id="donation-box">
           <div class="container">
               <div class="row">
                <div class="bg-white py-5">
                    <div class="container py-5">
                      <div class="row align-items-center mb-5">
                        <div class="col-lg-6 order-2 order-lg-1" style=" color: #006a54;">
                          <ul class="list-group" style="box-shadow: 0px 0px 11px 6px #888888;">
                            <li class="list-group-item">
                                <h2 class="font-weight-medium"> Make a Secure Online Contribution</h2>
                                <p class="text-left">Pay through paytm</p>
                                <button type="submit" class="btn btn-primary btn-md showcase-btn" style="font-family: sans-serif;" data-toggle="modal" data-target=".paytmModal">Proceed</button>
                            </li>
                            <li class="list-group-item">
                                <h4 class="font-weight-medium"> Through Net Banking</h4>
                                <br>
                                <p class="text-left font-weight-light">REGISTRATION NO  – ( GHA/01034/2018-2019)
                                    <br>BANK DETAIL -PANCH ASH SEWARTH SAMEETI
                                    <br>BANK – IDBI BANK
                                    <br>BANK ACCOUNT NO.- 0901102000036032
                                    <br>IFCI CODE- IBKL0000901
                                    <br>BRANCH- CC22, (KALKA JI ) NEHRU PLACE NEW DELHI 110019</p>

                                <p class="text-left font-weight-light"> Alternatively, make a Cheque Donation</p>
                                    <ol>
                                        <li>Make a crossed cheque to “PANCH ASH SEWARTH SAMEETI”</li>
                                        <li>At the back of the cheque, kindly indicate:
                                            <ul>
                                                <li>
                                                    Individual Donors
                                                    <ul>
                                                        <li>Name</li>
                                                        <li>Address</li>
                                                        <li>Contact Details</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    Corporate Donors
                                                    <ul>
                                                        <li>Business Registration number</li>
                                                        <li>Contact person’s name and number</li>
                                                        <li>Company Address</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><p class="text-left font-weight-light">Mail or hand deliver to our address at
                                            57 Vrindavan Garden Near Rajbagh Metro Station Sahibabad Ghaziabad UP - 201005</p></li>
                                    </ol>
                            </li>
                            <li class="list-group-item">
                                <h2 class="font-weight-medium"> Or Visit PASS Society today</h2>
                            </li>
                            </ul>
                        </div>
                        <div class="col-lg-5 px-5 mx-auto order-2 order-lg-2" >
                          <img class="text-center" src="assets\images\Gallery\donate-1.png" alt="">
                        </div>
                      </div>
                    </div>
                </div>
               </div>
           </div>

       </section>
       <section id="contact-donation-box">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="text-left font-weight-medium"> Contact Us</h2>
                    <form class="form-horizontal" [formGroup]="inboxServiceForm" novalidate (ngSubmit)="onSubmit()" role="form">
                      <div class="form-group">
                        <label class="col-sm-2 control-label labelContact" for="inputText" >Name: </label>
                        <div class=".col-sm-10">
                            <input type="text" formControlName="name" class="form-control" id="inputText" placeholder="Full Name"/>
                        </div>
                        <div *ngIf="inboxServiceForm.controls['name'].invalid && (inboxServiceForm.controls['name'].dirty || inboxServiceForm.controls['name'].touched)" class="alert alert-danger">
                            <div *ngIf="inboxServiceForm.controls['name'].errors.required">
                            Name required.
                          </div>
                          <div *ngIf="inboxServiceForm.controls['name'].errors.minlength">
                            Name must be at least 3 words long.
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label  class="col-sm-2 control-label labelContact" for="inputEmail3">Email: </label>
                            <input type="email" formControlName="email" class="form-control" id="inputEmail3" placeholder="Email"/>
                            <div *ngIf="inboxServiceForm.controls['email'].invalid && (inboxServiceForm.controls['email'].dirty || inboxServiceForm.controls['email'].touched)" class="alert alert-danger">
                                <div *ngIf="inboxServiceForm.controls['email'].errors.email">
                                    Email is incorrect.
                                </div>
                            </div>
                      </div>
                      
                      <div class="form-group">
                        <label class="col-sm-2 control-label labelContact" for="inputNumber3" >Contact: </label>
                            <input type="text" formControlName="contact" class="form-control" id="inputNumber3" placeholder="Phone Number"/>
                            <div *ngIf="inboxServiceForm.controls['contact'].invalid && (inboxServiceForm.controls['contact'].dirty || inboxServiceForm.controls['contact'].touched)" class="alert alert-danger">
                                <div *ngIf="inboxServiceForm.controls['contact'].errors.required">
                                Phone number is required.
                              </div>
                              <div *ngIf="inboxServiceForm.controls['contact'].errors.minlength">
                                Must be 10-digit number.
                              </div>
                              <div *ngIf="inboxServiceForm.controls['contact'].errors.pattern">
                                Phone number not valid.
                            </div> 
                            </div>
                      </div>
                      
                      <div class="form-group">
                        <label class="col-sm-2 control-label labelMessage" for="inputText1" >Message: </label>
                            <input type="text" formControlName="message" class="form-control" id="inputText1" placeholder="Leave a message..."/>
                            <div *ngIf="inboxServiceForm.controls['message'].invalid && (inboxServiceForm.controls['message'].dirty || inboxServiceForm.controls['message'].touched)" class="alert alert-danger">
                                <div *ngIf="inboxServiceForm.controls['message'].errors.minlength">
                                 Message must be at least 50 words long.
                            </div>
                      </div>
                      
                    </div>
                      
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-primary btn-md showcase-btn" [formGroup]="inboxServiceForm" >Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-7">
        
                  </div>
            </div>
        </div>
       </section>


       <div class="modal fade bd-example-modal-lg paytmModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body" style="font-family: Oswald;">
                <div class="alert alert-success" id="paytmPopup" role="alert">
                    <h4 class="alert-heading">Something went wrong!</h4>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <br>
                        <div class="spinner-border text-success" role="status"></div>
                   </div>
                    <p class="text-center">There is a problem communicating with the payment gateway used for this transaction.</p>
                    <hr>
                    <p class="text-muted text-center">Please contact the Corporate & Community Relations Team at 999097676 or passnearby@gmail.com for more information.</p>
                  </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade bd-example-modal-lg fundRaise" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body" style="font-family: Oswald;">
                <div class="alert alert-success" id="paytmPopup" role="alert">
                    <h4 class="alert-heading text-center">Thankyou for your support!</h4>
                    <hr>
                    <p class="text-muted text-center">Please contact the Corporate & Community Relations Team at 999097676 or passnearby@gmail.com for more information.</p>
                  </div>
            </div>
          </div>
        </div>
      </div>


       
    </body>
</html>

