@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
  font-family: Anton;
}

#banner {
    background-image: url(../../assets/images/1446052168_manali_old_agefa5c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    color: #ff8900;
  }

#banner-text{
  background-color: #ff8900;
  color: #006a54;
  }

  #video-donate-box{
    margin-top: 1pc;
    box-shadow: 0px 0px 11px 6px #888888;
    border-radius: 8px;
  }

  #contact-donation-box {
    background: url(../../assets/images/OLD-AGE-HOME2.jpg);
    padding: 40px;
    color: #006a54;
    border-top: #006a54 7px solid;
    border-bottom: #333333 7px solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    font-family: Oswald;

}

#helping-bodies{
  color: #006a54;
}

.ng-valid[required], .ng-valid, .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

  /**BTN Primary**/
  .btn-primary{
    background-color: #52bf04;
    border-color: #52bf04;
    border-radius: 0%;
  }
  
.btn-primary:hover{
    background-color: #ff8900;
    border-color: #ff8900;
 
}

.btn-primary:focus{
    background-color: #ff8900;
    border-color: #ff8900;
}

.btn-primary:active{
    background-color: rgb(94, 79, 126);
    border-color:rgb(94, 79, 126);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(114, 96, 153, 0.6);
    outline: 0 none;
}
.btn-primary:not(:disabled):not(.disabled):active{
  color: #666666;
  background: #ff8900;
  border-color: #ff8900;
}

.showcase-btn{
  font-family: Oswald;
}