<html>
    <head>

    </head>
    <body style="margin-top: 8pc;">
          <section id="first-banner">
            <div class="container">
            <div class="row">
              <div class="col-md-12 col-xs-12" style="margin-top:2pc; background-color:#ff8900; box-shadow: 0px 0px 11px 1px #888888;">
                  <br>
                  <h4 class=" text-center" style="font-family: Anton; color: #4d794d;">The work of volunteers impacts on all our lives,
                    Even if we are not aware of it.</h4>
                    <br>
              </div>
             </div>
             <div class="row">
                 <div class="col-md-12" style="color:white;">
                     <h1 class="text-center"> Panch Ash Sewarth Sameeti </h1>
                     <h3 class="text-center"> OUR CONSTANT SUPPORTERS </h3>
                     <p class="text-center" style="color:black; font-family: Oswald;"> People who supported us and worked with us from begining. PASS is very thankfull for thier gesture. </p>
                 </div>
             </div>
            </div>
          </section>
            <section id="memberList">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-xs-12" style="margin-top:2pc; background-color:#ff8900; box-shadow: 0px 0px 11px 1px #888888;">
                      <br>
                      <h2 class=" text-center" style="font-family: Oswald; color: #414141;">Organisations</h2>
                        <br>
                  </div>
                 </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div id="carousel-org" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-org" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-org" data-slide-to="1"></li>
                          <li data-target="#carousel-org" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                          <div class="carousel-item active">
                            <div class="container" style="margin-top: 1pc; margin-bottom: 1pc;">
                                <div class="row">
                                    <ul class="list-group" id="orgList">
                                       <li class="list-group-item">
                                            <div class="row" style="background-color: #defcde;">
                                                <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                                                    <img class="img-thumbnail" style="max-height: 300px; min-height: 300px;" src="assets\images\Members\vridhCare.jpg" alt="Preview not available">
                                                </div>
                                                <div class="col-md-8 col-sm-12 col-xs-12">
                                                    <h1 class="text-left">Vridh Care</h1>
                                                    <h5 class="text-left">NGO</h5>
                                                    <p class="text-left">Vridhcare is one of the leading non-profit organizations which works towards the objective of serving the underprivileged elderly community in the rural and urban areas. Established with the purpose of providing dignity, physical, emotional and mental well-being to the elderly population, Vridhcare has collaborated with several recognized and lesser-known charity homes who work towards the welfare of the elderly.</p>
                                                    <br>
                                                    <p class="text-left text-muted"><b>Contact person</b> - Sheetal Prashad  &nbsp;&nbsp;   (+91-8700851044, support@vridhcare.com)</p>
                                                    <p class="text-left text-muted">1203, Aggarwal Corporate Heights, Netaji Subhash Place, Pitam Pura, New Delhi, Delhi 110034</p>
                                                </div>
                                            </div>
                                       </li> 
                                    </ul>
                                </div> 
                          </div>
                        </div>
                        <!--Second Slide-->
                          <div class="carousel-item">
                            <div class="container" style="margin-top: 1pc; margin-bottom: 1pc;">
                                <div class="row">
                                    <ul class="list-group" id="orgList">
                                       <li class="list-group-item">
                                            <div class="row" style="background-color: #fffab5;">
                                                <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                                                    <img class="img-thumbnail" style="max-height: 300px; min-height: 300px;" src="assets\images\Members\HelpAge.jpg" alt="Preview not available">
                                                </div>
                                                <div class="col-md-8 col-sm-12 col-xs-12">
                                                    <h1 class="text-left">Help Age India</h1>
                                                    <h5 class="text-left">NGO</h5>
                                                    <p class="text-left">HelpAge India is a leading charity in India working with and for disadvantaged elderly for nearly 4 decades. It was set up in 1978 and is registered under the Societies’ Registration Act of 1860. There are an estimated 106 million elderly in India. HelpAge advocates for their needs such as for Universal Pension, quality healthcare, action against Elder Abuse and many more at a national, state and societal level with Central and State governments.</p>
                                                    <br>
                                                    <p class="text-left text-muted"><b>Contact person</b> - Prem Poddar  &nbsp;&nbsp;   (+91-9818906353, headoffice@helpageindia.org)</p>
                                                    <p class="text-left text-muted">HelpAge India, C–14 Qutab Institutional Area, New Delhi - 110016</p>
                                                </div>
                                            </div>
                                       </li> 
                                    </ul>
                                </div> 
                            </div>
                          </div>
                          <!--Third Slide-->
                          
                        </div>
                        <!--/.Slides-->
                        <!--Controls-->
                        <a class="carousel-control-prev" href="#carousel-org" role="button" data-slide="prev">
                          <span class="fa fa-angle-left fa-5x circle-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-org" role="button" data-slide="next">
                          <i class="fa fa-angle-right fa-5x circle-icon" aria-hidden="true"></i>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                  </div>
                </div>

                <br>
                <!-- Donaters -->
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12 col-xs-12" style="margin-top:2pc;">
                              <br>
                              <h1 class=" text-center" style="font-family: Anton; font-style: italic; color: #006a54;">Monthly Donations</h1>
                                <br>
                              <h2 class="text-center" style="font-family: Oswald; font-style: italic; color: #006a54;">Thank you for being a part of our monthly donor community. You're such a big part of the progress we're making here at PASS Society. </h2>
                              <br>
                              <h3 class="text-center" style="font-family: Oswald; font-style: italic; color: #006a54;">People who have helped us so far... </h3>
                          </div>
                         </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                  <div id="carousel-donors" class="carousel slide" data-ride="carousel" data-interval="2000">
                      <div class="carousel-inner row w-100 mx-auto" role="listbox">
                          <div class="carousel-item col-md-12  text-center active">
                             <div class="panel panel-default">
                                <div class="panel-thumbnail">
                                  <figure class="figure">
                                    <img src="assets\images\Members\Ashok.jpeg" style="min-height: 400px; max-width: 400px; max-height: 400px; min-width: 400px;" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption text-center">Mr. Ashok Srivastav</figcaption>
                                  </figure>
                                </div>
                              </div>
                          </div>
                          <div class="carousel-item col-md-12 text-center ">
                             <div class="panel panel-default">
                                <div class="panel-thumbnail">
                                  <figure class="figure">
                                    <img src="assets\images\Members\lalit.jpeg" style="min-height: 400px; max-width: 400px; max-height: 400px; min-width: 400px;" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption text-center">Mr. Lalit Mohan</figcaption>
                                  </figure>
                                </div>
                              </div>
                          </div>
                          <div class="carousel-item col-md-12 text-center">
                             <div class="panel panel-default">
                                <div class="panel-thumbnail">
                                  <figure class="figure">
                                    <img src="assets\images\Members\seth.jpeg"  style="min-height: 400px; max-width: 400px; max-height: 400px; min-width: 400px;" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption text-center">Mr. R P Singh</figcaption>
                                  </figure>
                                </div>
                              </div>
                          </div>
                          <div class="carousel-item col-md-12 text-center">
                              <div class="panel panel-default">
                                <div class="panel-thumbnail">
                                  <figure class="figure">
                                    <img src="assets\images\Members\Archana.jpeg"  style="min-height: 400px; max-width: 400px; max-height: 400px; min-width: 400px;" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption text-center">Mrs. Archana</figcaption>
                                  </figure>
                                </div>
                              </div>
                          </div>
                          <div class="carousel-item col-md-12 text-center">
                            <div class="panel panel-default">
                                <div class="panel-thumbnail">
                                  <figure class="figure">
                                    <img src="assets\images\Members\Mehra.jpeg"  style="min-height: 400px; max-width: 400px; max-height: 400px; min-width: 400px;" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption text-center">Mr. Mehra</figcaption>
                                  </figure>
                                </div>
                              </div>
                          </div>
                          <div class="carousel-item col-md-12 text-center">
                             <div class="panel panel-default">
                                <div class="panel-thumbnail">
                                  <figure class="figure">
                                    <img src="assets\images\Members\parshad.jpeg"  style="min-height: 400px; max-width: 400px; max-height: 400px; min-width: 400px;" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption text-center">Mr. Parshad</figcaption>
                                  </figure>
                                 </div>
                              </div>
                          </div>
                         
                      </div>
                      <a class="carousel-control-prev" href="#carousel-donors" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next text-faded" href="#carousel-donors" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div>
                </div>
                </div>
                </div>
                <!-- End Donators -->
                <br>
            </section>
          <section id="org-banner">
            <div class="container" >
                <div class="row" style="margin-top: 2pc;" >
                    <div class="col-md-12 col-xs-12" >
                        <h3 class="text-center"> Members </h3>
                     <p class=" text-center" style="color: black; font-family: Oswald;"> People who supported us and worked with us from begining. PASS is very thankfull for thier gesture. </p>
                    </div>
                </div>
            </div>
          </section>
          <section id="memberList">
              <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let com of memberList">
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="{{ com.url }}">
                                <div class="card-block">
                                  <h4 class="card-title text-center">{{ com.name }}</h4>
                                    <div class="card-text text-center text-muted">
                                        {{ com.role }} &nbsp; {{ com.contactNo }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Custom block of entries for members -->

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\seth.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Shiv Mohan Seth</h4>
                                    <div class="card-text text-center text-muted">
                                        Resident
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Ram_jiyawan.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Ram Jiyawan</h4>
                                    <div class="card-text text-center text-muted">
                                        Resident
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\ssJain.png">
                                <div class="card-block">
                                  <h4 class="card-title text-center">S S Jain</h4>
                                    <div class="card-text text-center text-muted">
                                        Resident
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Satish-Chand-tyagi.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Satish Chand Tyagi</h4>
                                    <div class="card-text text-center text-muted">
                                        Member
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Kewal Sharma.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Kewal Sharma</h4>
                                    <div class="card-text text-center text-muted">
                                        Member
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Shyam Lal.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Shyam Lal</h4>
                                    <div class="card-text text-center text-muted">
                                        Member
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Babban-Singh.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Babban Singh</h4>
                                    <div class="card-text text-center text-muted">
                                        Member
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Jai Prakash Singh.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Jai Prakash Singh</h4>
                                    <div class="card-text text-center text-muted">
                                        Member
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Gulzari Lal Sharma.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Gulzari Lal Sharma</h4>
                                    <div class="card-text text-center text-muted">
                                        Member
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Dal Singh Chaudhary.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Dal Singh Chaudhary</h4>
                                    <div class="card-text text-center text-muted">
                                        Member
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Ram Pravesh Singh.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Ram Pravesh Singh</h4>
                                    <div class="card-text text-center text-muted">
                                        Member
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\kl-vishwakarma.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">K L Vishwakarma</h4>
                                    <div class="card-text text-center text-muted">
                                        Member
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Menpal Nagar.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Menpal Nagar</h4>
                                    <div class="card-text text-center text-muted">
                                        Member
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\S S Srivastav.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">S S Srivastav</h4>
                                    <div class="card-text text-center text-muted">
                                        Member
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Raj Kumar Sharma.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Late Raj Kumar Sharma</h4>
                                    <div class="card-text text-center text-muted">
                                        Member & Volunteer
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Swami Baldev Singh.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Swami Baldev Singh</h4>
                                    <div class="card-text text-center text-muted">
                                        Member & Volunteer
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Ram Prakash Mahto.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Ram Prakash Mahto</h4>
                                    <div class="card-text text-center text-muted">
                                        Member & Volunteer
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Ramlal.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Ramlal</h4>
                                    <div class="card-text text-center text-muted">
                                        Member & Volunteer
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\Neelesh Shukla.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Neelesh Shukla</h4>
                                    <div class="card-text text-center text-muted">
                                        Volunteer
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc; ">
                              <img class="card-img-top-inp" src="assets\images\Members\kamlesh-rai.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Kamlesh Rai</h4>
                                    <div class="card-text text-center text-muted">
                                        Volunteer
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc;">
                              <img class="card-img-top-inp" src="assets\images\Members\manoj_shukla.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Manoj Shukla</h4>
                                    <div class="card-text text-center text-muted">
                                        Volunteer
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6" >
                            <div class="card" style="margin-top: 1pc; margin-bottom: 1pc;">
                              <img class="card-img-top-inp" src="assets\images\Members\nitin-singh.jpeg">
                                <div class="card-block">
                                  <h4 class="card-title text-center">Nitin Singh</h4>
                                    <div class="card-text text-center text-muted">
                                        Volunteer
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <!-- End for custom members block -->
                    </div>
              </div>
          </section>
          <!-- <section id="org-banner">
            <div class="container" >
                <div class="row" style="margin-top: 2pc;" >
                    <div class="col-md-12 col-xs-12" >
                        <h3 class="text-center"> Organisations </h3>
                     <p class=" text-center" style="color: black; font-family: Oswald;"> People who supported us and worked with us from begining. PASS is very thankfull for thier gesture. </p>
                    </div>
                </div>
            </div>
          </section>-->
        <section id="organisationList">
            <div class="container">
                <div class="row" *ngFor="let com of organisationList">
                    <ul class="list-group" id="orgList">
                       <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-thumbnail" src="{{ com.url }}" alt="Preview not available">
                                </div>
                                <div class="col-md-8">
                                    <h1 class="text-left">{{ com.name }}</h1>
                                    <h5 class="text-left">{{ com.orgType }}</h5>
                                    <p class="text-left">{{ com.description }}</p>
                                    <br>
                                    <p class="text-left text-muted"><b>Contact person</b> - {{ com?.contactPerson }}  &nbsp;&nbsp;   ({{ com?.emailId }})</p>
                                    <p class="text-left text-muted">{{ com.address }}</p>
                                </div>
                            </div>
                       </li> 
                    </ul>
                </div>

                <!-- 

                <div class="row">
                    <ul class="list-group" id="orgList">
                       <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-thumbnail" src="assets\images\Members\vridhCare.jpg" alt="Preview not available">
                                </div>
                                <div class="col-md-8">
                                    <h1 class="text-left">Vridh Care</h1>
                                    <h5 class="text-left">NGO</h5>
                                    <p class="text-left">VridhCare is a NGO working for senior citizens who are deprived of their rights & basic needs. We strive to improve their living standards.</p>
                                    <br>
                                    <p class="text-left text-muted"><b>Contact person</b> - Sheetal Prashad  &nbsp;&nbsp;   (+91-8700851044, support@vridhcare.com)</p>
                                    <p class="text-left text-muted">1203, Aggarwal Corporate Heights, Netaji Subhash Place, Pitam Pura, New Delhi, Delhi 110034</p>
                                </div>
                            </div>
                       </li> 
                    </ul>
                </div>

               End for custom entries -->
            </div>
        </section>
    </body>
</html>
