<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: white">
 
    <a class="navbar-brand" href="#"><img class="d-inline-block align-top" src="assets\images\pass_logo.png" width="80" height="80" style="margin-left: 25px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/contact-list">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/our-supporters">Supporters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/contact-create">Get Involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/event">Programs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Who We Are
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/about-us">About Us</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/help-box">How you can help</a>
          </div>
        </li>
        <form class="form-inline" style="margin-left: 40px;">
          <button class="btn btn-primary btn-md my-2 my-sm-0" type="button"  data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/loginPanel"> ADMIN </button>
          <button type="submit"  class="btn btn-primary btn-md my-2 my-sm-0"  data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/donation"> DONATE </button>
        </form>
  
      </ul>
    </div>
  
  </nav>
  