<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
  </head>
</html>
  <footer class="page-footer">

    <!-- Footer Links -->
    <div class="container text-center" style="font-family: Oswald;">
      <!-- Grid row -->
      <div class="row" style="font-family: Oswald;">
        <!-- Grid column -->
        <div class="col-lg-3 col-md-3 col-xs-3 text-center">
          <div class="row text-center">
            <div class="col-12 text-left" style="margin-top: 1pc;">
              <!--<p class="text-center text-secondary" style="width: 80%;">Panch Ash Sewarth Sameeti (PASS) is a non-profit organization, formed by a group of like-minded individuals pledged to raise the living standard of the needy elders.</p>-->
              <h3 class="mb-4 wp-post-text-footer">Spread <br>The <br> Word</h3>
              <p class="text-white">You can contribute to Pass Society's cause in building an inclusive society. Engage in our social media channels and help us spread the word.</p>
            </div>
            <div class="col-12">
              <ul>
                <li class="col-3" style="display: inline-block; padding:5px;">
                    <a class="text-left text-white" routerLink="/home">Home</a>
                </li>
                <li class="col-3" style="display: inline-block; padding:5px;">
                  <a class="text-left text-white" routerLink="/contact-create">Join Us</a>
                </li>
                <li class="col-3" style="display: inline-block; padding:5px;">
                    <a class="text-left text-white" routerLink="/gallery">Gallery</a>
                </li>
                <li class="col-3" style="display: inline-block; padding:5px;">
                    <a class="text-left text-white" routerLink="/event">Events</a>
                </li>
              </ul>
            </div>
          </div>
         </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-lg-6 col-md-6 col-xs-6">
          <div class="row">
            <div class="col-md-6 col-6" style="margin-top: 1pc;">
              <h3 class="text-left mb-4 wp-post-text-footer">Contact Us</h3>
                <ul class="list-unstyled text-white">
                <li>
                  <p class="text-left">
                    <i class="fa fa-home text-white"></i> 57 Vrindavan Garden Near Rajbagh Metro Station Sahibabad Ghaziabad UP - 201005</p>
                </li>
                <li>
                  <p class="text-left">
                    <i class="fa fa-envelope text-white"></i>  passnearby@gmail.com</p>
                </li>
                <li>
                  <p class="text-left">
                    <i class="fa fa-phone text-white"></i>  +91 9818300771</p>
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-6" style="margin-top: 1pc;">
              <iframe class="shadow-1-strong rounded" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14001.326395814103!2d77.3461483!3d28.6797257!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc045a61aab3f7923!2spass%20society!5e0!3m2!1sen!2sin!4v1621069147846!5m2!1sen!2sin" width="200" height="250" style="border: 1px;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-lg-3 col-md-3 col-xs-3" style="margin-top: 1pc; margin-bottom: 1pc;">
        <!-- Social buttons -->
          <h3 class="text-center mb-4 wp-post-text-footer"><i class="fa fa-rss"></i>  Follow Us</h3>
                <ul class="social-network social-circle">
                 <li><a href="https://www.facebook.com/passsocietyngo" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="https://in.linkedin.com/in/pass-society" target="_blank" title="Share on Twitter" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                 <li><a href="https://youtu.be/K5OAG2vY3lE" target="_blank" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                 <li><a href="https://goo.gl/maps/2UW2Yu5Dr74GtXE47" target="_blank" class="icoGoogle" title="Google"><i class="fa fa-google"></i></a></li>
                 <li><a href="https://twitter.com/passsociety1" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                </ul>  
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); font-family: Oswald;">
      <p class="text-white"> PASS  SOCIETY <i class="fa fa-copyright"></i> 2018 All Rights Reserved.
      <br><span class="text-muted">Developed by Ayush Singh (ayushsingh9200@gmail.com)</span></p>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

