<html>
    <head>

    </head>
    <body style="margin-top: 100px;">
        <section id="banner">
            <div class="container" >
                <div class="row">
                    <div class="col-md-12 col-xs-12" style="min-height: 18pc;">
                        <h1 class="display-1 text-right">Join Us</h1>
                    </div>
                </div>
            </div>
       </section>
       <section id="banner-text">
           <div class="container">
               <div class="row">
                <div class="col-md-12 col-xs-12">
                    <br>
                    <h3 class="text-left">Become a member and help underprivileged.</h3>
                    <p class="lead text text-left">The Chief Functionary and the President of the society are Mr. Vijay B Singh whose vision is to work for the help of old age home for the senior Citizen upliftment of the underprivileged mass both in rural and urban areas.</p>
                </div>
               </div>
           </div>
       </section>
       <section id="helping-bodies">
        <div class="container">
            <div class="row">
             <div class="col-md-12 col-xs-12">
                 <br>
                 <h1 class="text-left">GET INVOLVED</h1>
                 <h5 class="text-left" style="font-style: italic; font-family: Oswald;">MAKE A DIFFERENCE IN THEIR EVERYDAY</h5>
                 <p class="lead text text-left" style="font-family: Oswald;">We have been privileged to have various individuals, institutions and organizations come to add joy to the lives of our residents as well as to create a better living environment for them.
                    In big and small ways, YOU can contribute too!</p>
                <div class="row" style="margin-top: 4pc; margin-bottom: 2pc;">
                    <div class="col-lg-4 col-md-4 text-center">
                        <i class="fa fa-users fa-center fa-4x circle-icon" aria-hidden="true"></i>
                        <h3>Friends & Families</h3>
                    </div>
                    <div class="col-lg-4 col-md-4 text-center">
                        <i class="fa fa-briefcase fa-4x circle-icon" aria-hidden="true"></i>
                        <h3>Corporate</h3>
                  </div>
                  <div class="col-lg-4 col-md-4 text-center">
                    <i class="fa fa-graduation-cap fa-4x circle-icon" aria-hidden="true"></i>
                    <h3>Schools</h3>
                  </div>
               </div>
             </div>
            </div>
        </div>
    </section>
    <section id="volunteer-box">
        <div class="container">
            <div class="row" style="margin-top: 2pc;">
                <h1 class="text-center">VOLUNTEER</h1>
                <p class="text-left text-muted" style="font-family: Oswald;">We have a myriad of programs for the residents in our nursing home. Whether you can only serve once a week or once a month, join us for a fulfilling and heartwarming time of serving the elderly.</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="assets\images\Gallery\g14.jpg">
                        <div class="card-block">
                            <h4 class="card-title">REMINISCENCE WITH US</h4>
                            <div class="meta">
                                <p>Everyday | Time: 07:30am – 10am</p>
                            </div>
                            <div class="card-text">
                                Socialise with our residents by listening to them tell their stories. Walk down memory lane together with them as they share the journey of their past.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="assets\images\Gallery\g7.jpg">
                        <div class="card-block">
                            <h4 class="card-title">MORNING YOGA WITH US</h4>
                            <div class="meta">
                                <p>Every Morning | Time: 05:45am – 7am</p>
                            </div>
                            <div class="card-text">
                                If you are interested in trying yoga, Start a daily routine based holistic practice with Senior's morning yoga class.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="assets\images\PassSociety\food-distribution.jpg">
                        <div class="card-block">
                            <h4 class="card-title">COOK WITH US</h4>
                            <div class="meta">
                                <p>Every Sat-Sunday | Time: 12:30pm – 4pm</p>
                            </div>
                            <div class="card-text">
                                Love making, baking or cooking? <br> Spend time with our residents and whip up a delicious meal together!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="assets\images\Gallery\music.jpeg">
                        <div class="card-block">
                            <h4 class="card-title">MUSIC WITH US</h4>
                            <div class="meta">
                               <p>Every Sunday | Time: 05:00pm – 7pm</p>
                            </div>
                            <div class="card-text">
                                If you love music, sing or even play music, come be the DJ and/or sing along together with the elderly!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 4pc; margin-bottom: 2pc;">
                <div class="col-lg-12">
                    <h2 class="text-left">Putting your little extra efforts can help our elders</h2>
                    <br>
                    <ul class="list-group" style="box-shadow: 0px 0px 11px 6px #888888;">
                        <li class="list-group-item">
                            <h3 class="text-left"><i class="fa fa-user-md" aria-hidden="true"></i>  Doctor</h3>
                            <p class="text-left"> If your are a doctor and have good experince in medical treatment, well you can take some time and diagnose our residents for free.</p>
                            <p class="text-left text-muted">Every Wednesday 8:00am - 10am</p>
                        </li>
                        <li class="list-group-item">
                            <h3><i class="fa fa-building" aria-hidden="true"></i>  Organisation</h3>
                            <p class="text-left"> When non-profits and for-profit companies work together they can create something bigger than they would alone. Companies can have below advantages.</p>
                                <ul class="list-group text-muted" style="margin-left: 2pc;">
                                    <li>Tax Exemption</li>
                                    <li>Contribution to social cause</li>
                                    <li>Strengthening local communities</li>
                                    <li>Fewer liabilities </li>
                                </ul>
                            
                        </li>
                        <li class="list-group-item">
                            <h3><i class="fa fa-id-badge" aria-hidden="true"></i>  Salaried</h3>
                            <p class="text-left">We greatly appreciate donations in kind as they often also meet the needs of our home through direct purchase and delivery. Items that the home currently require are as appended below. These include the daily needs of the elderly for both meals as well as equipment.</p>
                            Financial Help
                            <br>
                            Rations (Essential need)
                            <ul class="list-group text-muted" style="margin-left: 2pc;">
                                <li>Cooking items</li>
                                <li>Basic Medical instruments, supplies, medicines</li>
                                <li>TakeUp monthly expense of any resident</li>
                                <li>Bearing some amount of monthly society expenses</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
       <section id="donation-box">
           <div class="container">
               <div class="row">
                <div class="bg-white py-5">
                    <div class="container py-5">
                      <div class="row align-items-center mb-5">
                        <div class="col-lg-6 order-2 order-lg-1" style=" color: #006a54;">
                          <ul class="list-group">
                            <li class="list-group-item">
                                <h2 class="font-weight-medium"> Make a Secure Online Contribution</h2>
                                <p class="text-left">Pay through paytm</p>
                                <button type="submit" class="btn btn-primary btn-md showcase-btn" style="font-family: sans-serif;" routerLink="/donation">Proceed</button>
                            </li>
                            <li class="list-group-item">
                                <h4 class="font-weight-medium"> Through Net Banking or Cheque</h4>
                                <br>
                                <p class="text-left font-weight-light">REGISTRATION NO  – ( GHA/01034/2018-2019)
                                    <br>BANK DETAIL -PANCH ASH SEWARTH SAMEETI
                                    <br>BANK – IDBI BANK
                                    <br>BANK ACCOUNT NO.- 0901102000036032
                                    <br>IFCI CODE- IBKL0000901
                                    <br>BRANCH- CC22, (KALKA JI ) NEHRU PLACE NEW DELHI 110019</p>
                            </li>
                            <li class="list-group-item">
                                <h2 class="font-weight-medium"> Or Visit PASS Society today</h2>
                            </li>
                            </ul>
                        </div>
                        <div class="col-lg-5 px-5 mx-auto order-2 order-lg-2" >
                            <img class=" img-fluid" src="assets\images\Gallery\join-us-1.png" alt="card image">
                        </div>
                      </div>
                    </div>
                </div>
               </div>
           </div>

       </section>
       <section id="contact-donation-box">
        <div class="container">
         <div class="row" style="background-color: #ff8900; color: white;">
            <div class="col-md-12 col-xs-12">
                <p class="lead text text-left" style="margin-top: 1pc; margin-bottom: 1pc;">Please fill out the form below and we will contact you shortly.</p>
            </div>
           </div>
            <div class="row">
                <div class="col-md-5">
                    <form class="form-horizontal" [formGroup]="inboxServiceForm" novalidate (ngSubmit)="onSubmit()" role="form">
                      <div class="form-group">
                        <label class="col-sm-2 control-label labelContact" for="inputPassword3" >Name: </label>
                        <div class=".col-sm-10">
                            <input type="text" formControlName="name" class="form-control" id="inputPassword3" placeholder="Full Name"/>
                            <div *ngIf="inboxServiceForm.controls['name'].invalid && (inboxServiceForm.controls['name'].dirty || inboxServiceForm.controls['name'].touched)" class="alert alert-danger">
                                <div *ngIf="inboxServiceForm.controls['name'].errors.required">
                                Name required.
                              </div>
                              <div *ngIf="inboxServiceForm.controls['name'].errors.minlength">
                                Name must be at least 3 characters long.
                              </div>
                        </div>
                      </div>
                      </div>
                      <div class="form-group">
                        <label  class="col-sm-2 control-label labelContact" for="inputEmail3">Email: </label>
                            <input type="email" formControlName="email" class="form-control" id="inputEmail3" placeholder="Email"/>
                            <div *ngIf="inboxServiceForm.controls['email'].invalid && (inboxServiceForm.controls['email'].dirty || inboxServiceForm.controls['email'].touched)" class="alert alert-danger">
                                <div *ngIf="inboxServiceForm.controls['email'].errors.email">
                                    Email is incorrect.
                                </div>
                                <div *ngIf="inboxServiceForm.controls['email'].errors.required">
                                    Email required.
                                </div>
                            </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label labelContact" for="inputNumber3" >Contact: </label>
                            <input type="text" formControlName="contact" class="form-control" id="inputNumber3" placeholder="Phone Number"/>
                            <div *ngIf="inboxServiceForm.controls['contact'].invalid && (inboxServiceForm.controls['contact'].dirty || inboxServiceForm.controls['contact'].touched)" class="alert alert-danger">
                                <div *ngIf="inboxServiceForm.controls['contact'].errors.required">
                                Phone number is required.
                              </div>
                              <div *ngIf="inboxServiceForm.controls['contact'].errors.minlength">
                                Must be 10-digit number.
                              </div>
                              <div *ngIf="inboxServiceForm.controls['contact'].errors.pattern">
                                Phone number not valid.
                              </div>
                            </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label labelMessage" for="inputNumber1" >Age: </label>
                            <input type="text" formControlName="age" class="form-control" id="inputNumber1" placeholder="Age"/>
                            <div *ngIf="inboxServiceForm.controls['age'].invalid && (inboxServiceForm.controls['age'].dirty || inboxServiceForm.controls['age'].touched)" class="alert alert-danger">
                            <div *ngIf="inboxServiceForm.controls['age'].errors.pattern">
                                Age not valid.
                            </div>
                            </div>
                      </div>
                      <div class="alert alert-success alert-wrap" *ngIf="successFlagForMail">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <h5 class="text-left"> Thankyou for interest. We will contact you shortly. </h5>
                      </div>
                      <div class="alert alert-danger alert-wrap" *ngIf="errorFlagForMail">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <h5 class="text-left"> Problem connecting to server. Contact us +91 9818300771 </h5>
                      </div>
                      
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" [formGroup]="inboxServiceForm" class="btn btn-primary btn-md showcase-btn">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-7">
        
                  </div>
            </div>
        </div>
       </section>
    </body>
</html>
