<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body >
        <div class="bg-light w3-container w3-animate-top"  style=" background-color: white;">
            <div class="container py-5">
              <div class="row h-100 align-items-center py-5">
                <div class="col-lg-7" style="color: #006a54;">
                  <h1 class="display-4">About us </h1>
                  <h5 class="lead text mb-0">PANCH ASH SEWARTH SAMEETI</h5>
                  <br>
                  <p class="lead text" style="font-weight: 400; "> The necessity for the NGO for senior citizens in India has increased lately due to the increased ill-treatment and suffering older people have to endure after they become incapable and helpless. After becoming old, the mental and physical health of an individual deteriorates. Since they are not served with essential healthcare needs, they are not much familiar with the information and knowledge concerning the types of diseases and illnesses with respect to their physical and mental health. <br> <br>Panch Ash Sewarth Sameeti  (PASS) is a non-profit organization set up on June 19, 2018, by a group of like-minded professionals & Social from different walks of life pledged to raise the standard of living of the needy living in the urban slums and rural areas. 
                  </p>
                </div>
                <div class="col-lg-4 px-2 d-lg-block text-center" >
                   <img class=" img-fluid" style="margin-top: 2pc;" src="assets\images\Gallery\about-us-1.png" alt="card image">
                </div>
              </div>
            </div>
          </div>
          <div id="description" class="row h-100 align-items-center py-5">
            <p class="text-center lead text" style="max-width: 100%; font-weight: 400; margin: 3pc;color: #006a54;">
              The Chief Functionary and the President of the society are Mr. Vijay B Singh whose vision is to work for the help of old age home for the senior Citizen upliftment of the underprivileged mass both in rural and urban areas.
              <br>
              <br>
              The philosophy of the society has always been to work for the weaker sections of the society and pour in maximum efforts for their upliftment. The approach of the organization has always been people-centric.
              <br>
              <br>
              PASS also works for the senior citizens of the society through its recreation center for senior citizens. The recreation center is NCR & Delhi. The elderly in the area visit the recreation center regularly from 10 a.m to 4 p.m and spend quality time at the center. They play indoor games and read newspapers, watch TV and engage in healthy discussions. The elderly have quality time in a homely atmosphere.
              <br>
              <br>
              The people in the area belong to the lower income group and they cannot afford a qualified doctor. So PASS arranges an ambulance to reach dispensaries  & Hospital for the underprivileged, they are charged a nominal fee of Rs. 50 But handicapped and senior citizens are provided treatment free of cost.
              <br>
              <br>
              
            </p>
            <div>
              <h5 class="display-4 text-left" style="margin-left: 2pc; color: #006a54;">Medical help for elders </h5>
            <ul class="text-left lead text" style="max-width: 100%; font-weight: 400; margin: 3pc;color: #006a54;">
              <li>Free medical check-up (Every wednesday)</li>
              <li>Free medicines distribution for needy</li>
              <li>Free vaccination (Only if prescribed)</li>
              <li>Free counseling (realted to mental, physical health)</li>
              <li>Free contraceptives distribution</li>
              <li>Medical campaigns</li>
              <li>Free basic pathological tests</li>
            </ul>
            <br>
            </div>
          </div>
          <section id="actualTemplates" >
            <div class="container">
              <h5 class="display-4 text-center" style="margin-top: 2pc; margin-bottom: 2pc; color: #006a54;">What we provide </h5>
              <div class="row">
                <div class="col-md-3 col-6">
                  <div class="card" >
                    <img class="card-img-top" src="assets\images\PassSociety\IMG_9158.JPG" alt="Card image cap">
                  </div>
                </div>
                <div class="col-md-3 col-6">
                  <div class="card" >
                    <img class="card-img-top" src="assets\images\PassSociety\IMG_9159.JPG" alt="Card image cap">
                  </div>
                </div>
                <div class="col-md-3 col-6">
                  <div class="card" >
                    <img class="card-img-top" src="assets\images\PassSociety\IMG_9160.JPG" alt="Card image cap">
                  </div>
                </div>
                <div class="col-md-3 col-6">
                  <div class="card" >
                    <img class="card-img-top" src="assets\images\PassSociety\IMG_9161.JPG" alt="Card image cap">
                  </div>
                </div>
              </div>
              </div>
          </section>
          <div class="bg-white py-5">
            <div class="container py-5">
              <hr>
              <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1" style="margin-top: 2pc; color: #006a54;"><i class="fa fa-home fa-2x mb-3 text-success"></i>
                  <h2 class="font-weight-light">Giving living space</h2>
                  <p class="font-italic text-muted mb-4">PASS provides free beds for every senior citizen who has been discarded from his family.</p>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-2 order-lg-2"><img src="assets\images\PassSociety\living-space.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
              </div>
              <hr>
              <div class="row align-items-center">
                <div class="col-lg-5 px-5 mx-auto order-2 order-lg-1"><img src="assets\images\PassSociety\medical-help.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                <div class="col-lg-6 order-2 order-lg-2" style="margin-top: 2pc; color: #006a54;">
                    <i class="fa fa-heartbeat fa-2x mb-3 text-success"></i><h2 class="font-weight-light">Providing medical facility</h2>
                  <p class="font-italic text-muted mb-4">PASS is providing free weekly medical checkups for every senior citizen with basic medicine distribution as direct by physician.</p>
                </div>
              </div>
              <hr>
              <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1" style="margin-top: 2pc; color: #006a54;"><i class="fa fa-coffee fa-2x mb-3 text-success"></i>
                  <h2 class="font-weight-light">Ensuring food for everyone</h2>
                  <p class="font-italic text-muted mb-4">PASS is providing free food for daily need of senior citizen, from morning tea to evening snacks everything.</p>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-2 order-lg-2"><img src="assets\images\Gallery\g6.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
              </div>
            </div>
          </div>
          
          <div class="bg-light py-5">
            <div class="container py-5">
              <div class="row mb-4">
                <div class="col-lg-5">
                  <h2 class="display-4 font-weight-light" style="color: #45637d;">Our team</h2>
                  <p class="font-italic text-muted">Volunteers working for this social change</p>
                </div>
              </div>
          
              <div class="row text-center">
                <!-- Team item-->
                <div class="col-xl-3 col-6 mb-5">
                  <div class="rounded shadow-sm py-5 px-4" style="background-color: #45637d;"><img src="assets\images\template\vb_singh.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm img-custom">
                    <h5 class="mb-0" style="color:white;">Vijay Singh</h5><span class="small text-uppercase text-white">Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                      <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100005327531999" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    </ul>
                  </div>
                </div>
                <!-- End-->
          
                <!-- Team item-->
                <div class="col-xl-3 col-6 mb-5">
                  <div class="rounded shadow-sm py-5 px-4" style="background-color: #45637d;" ><img src="assets\images\Members\Ram Prakash Mahto.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm img-custom">
                    <h5 class="mb-0" style="color: white;">Ram Prakash Mahto</h5><span class="small text-uppercase text-white">Administration</span>
                    <ul class="social mb-0 list-inline mt-3">
                      <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    </ul>
                  </div>
                </div>
                <!-- End-->
          
                <!-- Team item-->
                <div class="col-xl-3 col-6 mb-5">
                  <div class="rounded shadow-sm py-5 px-4" style="background-color: #45637d;"><img src="assets\images\Members\nitin-singh.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm img-custom">
                    <h5 class="mb-0" style="color: white;">Nitin Singh</h5><span class="small text-uppercase text-white">Volunteer</span>
                    <ul class="social mb-0 list-inline mt-3">
                      <li class="list-inline-item"><a href="https://www.facebook.com/nitin.singh.98499" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    </ul>
                  </div>
                </div>
                <!-- End-->
          
                <!-- Team item-->
                <div class="col-xl-3 col-6 mb-5">
                  <div class="rounded shadow-sm py-5 px-4" style="background-color: #45637d;"><img src="assets\images\Members\Neelesh Shukla.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm img-custom">
                    <h5 class="mb-0" style="color: white;">Neelesh Shukla</h5><span class="small text-uppercase text-white">Organiser</span>
                    <ul class="social mb-0 list-inline mt-3">
                      <li class="list-inline-item"><a href="https://www.facebook.com/neelesh.shukla.3388" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    </ul>
                  </div>
                </div>
                <!-- End-->
          
              </div>
            </div>
          </div>
    </body>
</html>
