.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(59, 107, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ddd;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: rgb(59, 107, 238);
    text-decoration: none;
    color: #ddd;
  }
  
  img{
    box-shadow: 0px 0px 6px 2px #888888;
    border-radius: 0px;
    margin-top: 1pc;
  }

  

  #description{
    border-top: #006a54 7px solid;
    border-bottom: #006a54 7px solid;
  }
  
  .img-custom{
    min-height: 100px; 
    max-width: 100px; 
    max-height: 100px;
     min-width: 100px;
  }