<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body style="margin-top: 120px;">
        <section id="donation-box">
            <div class="container w3-animate-top">
                <div class="row dbRow">
                     <div class="col-xs-6 col-md-6 col-sm-8 align-self-center">
                         <h1 class="text-left dbText">We try to come alongside people and interact with our supporters so that they know that we see them, we’re with them, and we’re in this together.</h1>
                        <h1 class="text-left dbText" >Take pledge to help now &nbsp; <i class="fa fa-thumbs-up fa-2x mb-3 "></i></h1>
                        <div class="row" style="margin-left: 1pc;">
                            <div class="col-md-6 col-sm-6 text-left">
                                <button type="submit" class="btn btn-primary btn-md my-2 my-sm-0 showcase-btn dbButton" routerLink="/donation"><b> DONATE </b></button>
                            </div>
                            <div class="col-md-6 col-sm-6 text-left">
                                <button type="submit" class="btn btn-primary btn-md my-2 my-sm-0 showcase-btn dbButton" routerLink="/contact-create"><b> JOIN US </b></button>
                            </div>
                        </div>
                        
                     </div>
                     <div class="col-xs-6 col-md-6 col-sm-4 align-self-center text-center">
                       
                     </div>
                </div>
            </div>
        </section>
        
        <div class="bg-white py-5">
            <div class="container py-5">
              <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1" style=" color: #006a54;">
                  <h2 class="font-weight-medium"> Your help will be always appreciated</h2>
                  <br>
                  <ul class="list-group" style="box-shadow: 0px 0px 11px 6px #888888;">
                    <li class="list-group-item">
                        <div class="row">
                        <div class="col-xs-6 col-md-6 align-self-center">
                            <img class="text-left" src="assets\images\couple.png" alt="">
                         </div>
                         <div class="col-xs-6 col-md-6 align-self-center text-right">
                            <h2 class="font-weight-light text-center"> ADOPTING ELDER</h2>
                         </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 align-self-center">
                                <img class="text-center" src="assets\images\calendar.png" alt="">
                             </div>
                             <div class="col-xs-6 col-md-6 align-self-center">
                                <h2 class="font-weight-light text-center"> SPONSORING SALARY OF EMPLOYEE</h2>
                             </div>
                            </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 align-self-center">
                                <img class="text-center" src="assets\images\lunch-dish.png" alt="">
                             </div>
                             <div class="col-xs-6 col-md-6 align-self-center text-center">
                                <h2 class="font-weight-light"> SPONSORING MEAL</h2>
                             </div>
                            </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 align-self-center">
                                <img class="text-center" src="assets\images\confetti.png" alt="">
                             </div>
                             <div class="col-xs-6 col-md-6 align-self-center text-center">
                                <h2 class="font-weight-light"> CELEBRATING BIRTHDAY, ANNIVERSARY ETC.</h2>
                             </div>
                            </div>
                    </li>
                    <li class="list-group-item"> 
                        <div class="row">
                            <div class="col-xs-6 col-md-6 align-self-center">
                                <img class="text-center" src="assets\images\social-care.png" alt="">
                             </div>
                             <div class="col-xs-6 col-md-6 align-self-center text-center">
                                <h2 class="font-weight-light"> DOING AWARENESS</h2>
                             </div>
                            </div>
                    </li>
                </ul>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-2 order-lg-2" style="margin-top: 2pc;">
                    <img class="text-center" src="assets\images\Gallery\help-1.png" alt="">
                </div>
              </div>
            </div>
        </div>
        <section id="help-box">
            <div class="container">
                <div class="row" style="margin-top:1pc; margin-bottom: 2pc; color: #006a54;">
                    <div class="col-lg-12">
                        <h2 class="text-left">Putting your little extra efforts can help our elders</h2>
                        <br>
                        <ul class="list-group" style="box-shadow: 0px 0px 11px 6px #888888;">
                            <li class="list-group-item">
                                <h3 class="text-left"><i class="fa fa-user-md" aria-hidden="true"></i>  Docter</h3>
                                <p class="text-left"> If your are a docter and have good experince in medical treatment, well you can take some time and diagnose our residents for free.</p>
                                <p class="text-left text-muted">Every Wednesday 8:00am - 10am</p>
                            </li>
                            <li class="list-group-item">
                                <h3><i class="fa fa-building" aria-hidden="true"></i>  Organisation</h3>
                                <p class="text-left"> When non-profits and for-profit companies work together they can create something bigger than they would alone. Companies can have below advantages.</p>
                                    <ul class="list-group text-muted" style="margin-left: 2pc;">
                                        <li>Tax Exemption</li>
                                        <li>Contribution to social cause</li>
                                        <li>Strengthening local communities</li>
                                        <li>Fewer liabilities </li>
                                    </ul>
                                
                            </li>
                            <li class="list-group-item">
                                <h3><i class="fa fa-id-badge" aria-hidden="true"></i>  Salaried</h3>
                                <p class="text-left">We greatly appreciate donations in kind as they often also meet the needs of our home through direct purchase and delivery. Items that the home currently require are as appended below. These include the daily needs of the elderly for both meals as well as equipment.</p>
                                Financial Help
                                <br>
                                Rations (Essential need)
                                <ul class="list-group text-muted" style="margin-left: 2pc;">
                                    <li>Cooking items</li>
                                    <li>Basic Medical instruments, supplies, medicines</li>
                                    <li>TakeUp monthly expense of any resident</li>
                                    <li>Bearing some amount of monthly society expenses</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>    
    </body>
</html>
